<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Training iOS HoaLT Exercise 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E029AD1B1F218C310048E049</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E029AD2F1F218C310048E049</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E029AD3A1F218C310048E049</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
